name: Publish to PyPI

on:
  push:
    tags: ["v*"]

jobs:
  test:
    uses: hpphpro/sqla_autoloads/.github/workflows/test.yaml@main

  publish:
    needs: test
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
      - run: uv build
      - uses: pypa/gh-action-pypi-publish@release/v1
